<%= will_paginate %>
<ul class="users">
  <table >
    <tr>
    <th>customer ID.</th>
    <th>forename</th>
    <th>name</th>
    </tr>
  <%= render @users %>
</table>
</ul>
<%= will_paginate %>