<html>
  <head>
    <title><%= @basetitle %>| <%= @title %></title>
  </head>
  <body>
       <p>
      Eine kleine Gruppen von Studenten die sich an Ruby on Rails(Fails) versuchen.
    </p>
  </body>
</html>