<html>
  <head>
    <title><%= @basetitle %>|<%= @title %></title>
  </head>
  <body>
    <table >
    <th >article ID.</th>
    <th>name</th>
    <th>price</th>
     <td class="sidebar round">
        Info zum aktuellen Warenkorb
       </td>
    <%= render @articles %>
    </table>
</body>
</html>

 
  